{% extends 'base.html.twig' %}

{% block title %}  {{ category.name }} | Мазик Бай {% endblock %}

{% block body %}
    <section class="mz-section mz-products">
        <div class="container">
            <div class="mz-breads">
                <a href="{{ path('app_homepage') }}">Mazik.by</a>
                <span class="sep">/</span>

                <span class="current">{{ category.name }}</span>
            </div>
            <div class="mz-section-title">
                {{ category.name }}
            </div>
            {# Pagination block #}
            {% include 'partial/pagination.html.twig' with {'pages' : pages } %}
            <div class="mz-row mz-products-row">
                {% for product in products %}
                    {% include 'partial/product.html.twig' with {'product' : product} %}
                {% endfor %}
            </div>

            {# Pagination block #}
            {% include 'partial/pagination.html.twig' with {'pages' : pages } %}
        </div>
    </section>
    {% if page is not defined %}
    <section class="mz-section mz-content">
        <div class="container">
            {{ category.content|raw }}
        </div>
    </section>
    {% endif %}
{% endblock %}
